/* NUEVO HORARIO/app/print.css */

@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  
  .print-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .print-header img {
    max-height: 80px;
    margin-bottom: 15px;
  }
  
  .print-header h2, .print-header h3 {
    margin: 0;
    color: black;
  }
  
  /* Tabla de impresión */
  .printable-area table {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px; /* Tamaño de letra más pequeño para que quepa todo */
  }
  .printable-area th, .printable-area td {
    border: 1px solid #ccc;
    padding: 4px;
    text-align: center;
  }
  .printable-area th {
    background-color: #f2f2f2 !important;
  }

  @page {
    size: letter landscape;
    margin: 0.5in;
  }
}